<h2>We're sorry, we had to cancel your experiment.</h2>

<p>Repairs to the helicopter have taken longer than anticipated and we are cancelling experiments this week.</p>

<p>If you are still interested in participating, please email David Pitman at dpitman@mit.edu to be notified when we will run our next round of experiments (likely over IAP).</p>

<p>Thanks for your understanding!</p>