<div class="content" >
<h1>Privilege Created!</h1>
<a href="/privileges" ><h3>&laquo; Privelege List</h3></a>
<br />
<%= flash[:notice] %>
<%= error_messages_for :user, :privilege, :role %><br />
</div>
