<h2>Welcome to the HALab Experimenter!</h2>
<%= @user.name %>, You're almost finished! From now on, you can login to HALab Experimenter at anytime with the login and password you gave us.

<h2>Next Steps</h2>
<ol>
    <li><a href="http://<%= @url %>/users/activate/<%= @user.activation_code %>" >Activate your account</a></li>
    <li>Make a new experiment</li>
	<li>Start signing up participants!</li>
</ol>

<p>
Thanks!
</p>
