<h2>Goodbye!</h2>
<p>
You (or a site administrator) deleted your account. We're sorry to see you go!
<br />
If this was done in error, please <a href="https://<%= @url %>/contact" >contact us.</a>
</p>