<h2>Your password was changed</h2>
<p>
Somebody (hopefully you!) recently changed your password. If you did not change your password, please confirm that you can still <a href="https://<%= @url %>/signin" >sign in</a>
</p>