<h2>Change your password</h2>
<p>
Someone (hopefully you!) has requested to change your password for your account.
<br />
Visit this url within the next 24 hours to change your account password:
<br/><a href="<%= @url %>">Change your password</a>
<br />
<br /><small>( <%= @url %> )</small>
</p>
<p>
Thanks!
</p>