<h3>Your Password Must...</h3>
<div id="pwd-helper">
	<div class="validation-success" id="pwd-valid-login" >Be different from your login</div>
	<div class="validation-error" id="pwd-valid-len" >Be at least 6 characters long</div>
	<div class="validation-error" id="pwd-valid-num" >Have at least 1 number</div>
	<div class="validation-error" id="pwd-valid-caps" >Have at least 1 capital letter</div>
	<div class="validation-success" id="pwd-valid-confirm">Be entered twice for password confirmation</div>
</div>