<div id="login_page">
	<div id="content" >
		<div id="main">
<h1>Reset Instructions Emailed</h1>

<p>Sorry for the inconvenience!</p>
<p>Instructions for resetting your password have been sent to <%= params[:email] %></p>
</div>    
	</div>
</div>
