<div id="login_page">
	<div id="content" >
		<div id="main">
		<% unless @user_not_found %>
<h1>Your password has been changed</h1>
<h2>Sign in to access your account</h2>
<%= render :partial => "home/login" %>
		   <% else %>
		   <h1>Invalid Request</h1>
<p>Your request to change your password may be invalid or outdated, please make a <%= link_to "new request to change your password.", :controller=>:user, :action=>:reset %>
</p>
		   <% end %>
	</div>
</div>

