<h1>The <%= @experiment.name %> is closed</h1>
<h2>Thanks for your interest</h2>
<p>We've reached the total number of participants needed for this experiment.</p>

<p>Occassionally we do have cancellations, please check back in a few days and see if any slots have opened up.</p>
