<p>Welcome to the Humans & Automation Lab site for signing up to participate in experiments.</p>
<h1><%= @experiment.name %></h1>
<%= render :partial => 'helpers/experiment', :locals => {:experiment => @experiment, :show_signup_link => true } %>
