<h1><%= @experiment.name %></h1>
<p>Welcome to the Humans & Automation Lab site for signing up to participate in experiments.</p>
<%= render :partial => 'helpers/experiment', :locals => {:experiment => @experiment, :show_signup_link => true } %>
<div class="questions">If you have any questions, contact <%= @experiment.user.email %></div>
