<h1>Signup Confirmation</h1>
<h2><%= @subject.name %>, you are confirmed for <%= @slot.human_time %></h2>

<p>An email has been sent to <%= @subject.email %> with a copy of this information.</p>

<h2>Time</h2>
You are signed up for an experiment at <b><%= @slot.human_time %></b>
<p>The experiment will last approximately 1hr 15min and you will be compensated $15 for your participation.</p>


<h2>Instructions</h2>
<b>Experiment Contact</b>
<p>Please contact David Pitman at <a href="mailto:dpitman@mit.edu">dpitman@mit.edu</a> or 617-901-8772 if you have any questions.</p>

<b>Location</b>
<p>Meet the experiment contact in the entrance of <a href="http://whereis.mit.edu/?selection=41&zoom=16">Building 41</a></p>
