<h2><%= @slots.length %> experiments scheduled for <% @schedule_date %></h2>

<ol>
<% for slot in @slots %>
<li><b><%= slot.human_datetime %></b></li>
	<ol>
	<% for appointment in @slots.appointments%>
	<li><%= appointment.subject.name %></li>
	<% end %>
	</ol>
<% end %>
</ol>