<%= @participant.name %>, you are confirmed for <%= @slot.human_time %>

Time:
You are signed up for an experiment at <%= @slot.human_time %>
The experiment will last approximately 1hr 15min and you will be compensated $15 for your participation.


Experiment Contact:
Please contact David Pitman at <a href="mailto:dpitman@mit.edu">dpitman@mit.edu</a> or 617-901-8772 if you have any questions.

Location
Meet the experiment contact in the entrance of Building 41 - http://whereis.mit.edu/?selection=41&zoom=16

