<%= render :partial => '/helpers/header' %>
	<body>
		<div class="header application">
		<div id="banner">Experiment Signup Tool</div>
		<% if signed_in? %>
		<div class="signin">
		<%= link_to 'sign out', session_path, :method => :delete %> 
		</div>
		<% end %>
		</div>
		  <%= yield %>
		<div id="footer">
			<a href="/">&copy; 2009 </a>
            | <a href="javascript:none;"><%= SOURCE_REVISION_DETAILS %></a>
        </div>
		</div>
	</body>
</html>
